body {
    margin: 0;
}

.header {
    position: relative;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 20px;
    width: 100vw;
    box-shadow: 1px 1px 4px 2px rgb(200, 200, 200);
    z-index: 1;
}

.container {
    background-color: #f0eef1;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.add-book-button {
    margin-top: 10px;
    background-color: none;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}

.add-book-button:hover {
    background-color: rgb(199, 195, 195);
}

.input-section {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 150px;
    grid-gap: 20px;
    width: 200px;
    box-shadow: 2px 2px 4px 2px rgb(200, 200, 200);
    border-radius: 5px;
    padding: 12px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: calc(50% - 100px);
}

.input-section button {
    height: 24px;
    width: 80%;
}

.input-section h2 {
    margin: 0px;
}

.library {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.booklist {
    margin-top: 60px;
}

.book {
    background-color: white;
    padding: 5px;
    margin: 0px;
    height: 200px;
    width: 200px;
    box-shadow: 1px 1px 2px 4px rgb(200, 200, 200);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.book p {
    margin: 0px;
}

.read-button, .removal-button {
    height: 20px;
    width: 50%;
    border: 1px solid grey;
    border-radius: 4px;
}

.read-button {
    background-color: rgb(229, 193, 193);
}

.green-button {
    background-color: rgb(149, 240, 149);
}

input {
    border: 1px solid grey;
    border-radius: 4px;
}

input:invalid {
    background: rgb(247, 228, 228);
    border: solid 1px red;
}

input:valid {
    background: rgb(228, 245, 203);
    border: solid 1px green;
}